@import "./variables";

.events {
  .banner-image::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 18, 50, 0.4);
    z-index: 2;
  }

  .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/banner05.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .2;
  }

  .event-content {
    height: 80vh;

    .header-content {
      height: 100%;
      position: relative;

      .main-title {
        font-size: 3.8em;
        font-weight: 700;
      }
    }
  }


  .events-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}