.event-tickets {

  .event-tickets-banner {
    position: absolute;
    top: 0;
    height: 70vh;
    width: 100%;
    background-image: url('../assets/images/banner07.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;

    .event-tickets-banner-bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 18, 50, 0.5);
      z-index: -1;
    }
  }

  .event-tickets-content {
    z-index: 10;
  }

  .event-info {
    background-color: #0a1e5e;
    width: 100%;
    padding: 20px 0;
    z-index: 20;
    position: relative;
    border-bottom: 2px solid #00348d;
    border-top: solid 2px #00348d;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 300px;
    }
  }


  .event-checkout {
    .event-checkout-amount, .checkout-info--tickets, .checkout-info--form {
      background-color: #0a1e5e;
      border-radius: 8px;
    }

    .event-card {
      border-radius: 10px;
      width: 30%;
      padding: 4rem 1rem;

      &::before {
        content: "";
        z-index: -1;
        top: 0;
        right: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #0a1e5e, $alpha: .3);
      }

      &.standard {
        position: relative;
        background-image: url('../assets/images/tickets/ticket-bg-01.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
      }

      &.premium {
        position: relative;
        background-image: url('../assets/images/tickets/ticket-bg-02.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
      }

      &.vip {
        position: relative;
        background-image: url('../assets/images/tickets/ticket-bg-03.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
      }

      .ticket-price {
        color: #00dbbb;
      }

      .ticket-select {
        position: absolute;
        background-color: white;
        border-radius: 50%;
        z-index: 2;
        bottom: -12px;
        cursor: pointer;
      }
    }

    .checkout-input {
      padding: 0 10px;
      height: 40px;
      background-color: #0a1e5e;
      color: white;
      outline: none;
      border: none;
      border-bottom: 2px solid #1d55bc;
      color: #b8d4f7;
      font-size: 16px;

      &::placeholder {
        color: #8493a8;
      }
    }

    .ticket-seats {

      .ticket-seats--input {

        position: relative;

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button
        {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number]
        {
          -moz-appearance: textfield;
        }

        input {
          height: 42px;
          float: left;
          display: block;
          margin: 0;
          padding: 0 5px;
          border: 1px solid #1d55bc;
          text-align: center;
          background-color: transparent;
          color: #b8d4f7;
          font-size: 16px;
        }

        input:focus {
          outline: 0;
        }

        .ticket-seats-button {
          text-align: center;
          cursor: pointer;
          padding: 6px 16px;
          background-color: transparent;
          border: 1px solid #1d55bc;
          font-size: 16px;
          color: #b8d4f7;
          user-select: none;
        }

        .ticket-seats-up {
          border-right: none;
          height: 42px;
          border-radius: 50% 0 0 50%;
        }

        .ticket-seats-down {
          border-left: none;
          height: 42px;
          border-radius: 0 50% 50% 0;
        }

      }
    }

  }

}
