@import "./variables";

.event-wrapper {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  .event-header {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
      transition: all .5s ease-in-out;
    }
  }

  .event-title {
    margin-top: 0px;
    background-color: $light-background;
  }

  .event-wrapper_container {
    &:hover .event-header img {
      transform: scale(1.05);
    }

    &:hover .event-title p {
      color: #209cee;
    }
  }

  .event-date {
    position: absolute;
    top: 0;
    text-align: center;
    left: 10%;
    padding: 10px;
    background-color: rgb(12, 72, 179);
    border-radius: 0 0 10px 10px;
  }

  .truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

