@import "./variables";

.event-wrapper {
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  .event-header {
    overflow: hidden;

    img {
      width: 100%;
      display: block;
      transition: all .5s ease-in-out;
    }
  }

  .event-title {
    margin-top: 0px;
    background-color: $light-background;
  }

  &:hover .event-header img {
    transform: scale(1.05);
  }
}

