.home-search-tab {
  position: relative;
  margin-bottom: 100px;


  .search-tab {
    background-image: url('../assets/images/ticket-bg01.jpg');
    border-radius: 10px;
    padding: 60px 30px;
    position: relative;
    z-index: 10;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .search-tab::before {
    border-radius: 10px;
    width: 100%;
    background-image: linear-gradient(0deg, rgb(12, 72, 179) 0%, rgb(93, 0, 149) 100%);
    opacity: .7;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .search-tab-header {
    .button {
      margin-left: -50px;
    }
  }

  .searchInputWrapper {
    h3 {
      white-space: nowrap;
    }
    .searchInput {
      width: 100%;
      margin-left: 3rem;
      .control, input {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-search-tab {
    .search-tab {
      padding: 30px 15px;
    }

    .searchInput {
      margin-left: 0 !important;
      flex-direction: column !important;
      width: 100% !important;
      .control, input {
        width: 100% !important;
        margin-bottom: .25rem !important;
      }
    }

    .search-tab-header {
      .button {
        margin-left: 0 !important;
        width: 100%;
      }
    }

    .searchInputWrapper {
      flex-direction: column !important;
      h3 {
        margin-bottom: .5rem !important;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .home-search-tab {
    .search-tab {
      padding: 40px 25px;
    }

    .searchInput {
      width: 60% !important;
      .control, input {
        width: 100% !important;
      }
    }

    .searchInputWrapper {
      flex-direction: row !important;
      justify-content: space-between;
    }
  }
}